<p>index</p>

<!--user info-->
<h1>User info</h1>

<div class="">




</div>

<!-- new book-->
<%= form_for(@book) do |f| %>
<h1>New Book</h1>
<p>Title</p>
<%= f.text_area :title %>

<p>Opinion</p>
<%= f.text_field :opinion %>

<%= f.submit 'Create Book', class:"btn btn-primary" %>


<% end %>


<!-- user一覧-->