<div class="container">

  <div clsss="row">
　　<!--user info-->
  　<%= render 'layouts/userinfo', user: @user %>



    <!-- user一覧-->
　  <div class="col-xs-9">
  　   <h1>Users</h1>
   　  <table class="table">
     　  　<thead>
      　　  　<tr>
       　　　  　<th>image</th>
       　　　　  <th>name</th>
     　　　  　</tr>
   　　　  </thead>
  　　　   <tbody>
    　　   <% @users.each do |user| %>
     　　　  　<tr> <!--代わりの画像も用意する-->
       　　　  　<td><%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', size:'40x40' %></td>
                <td><%= user.name %></td>
                <td><%= link_to "Show", user_path(user.id) %></td>
                  <!--投稿をしたユーザーに紐づく-->
              </tr>
          <% end %>
          </tbody>
      </table>
    </div>
  </div>

</div>