<div class="container">
  <div clsss="row">
    <%= render 'layouts/userinfo', user: @user %>



    <!-- userに紐づくbooks一覧-->
    <div class="col-xs-9">

      <h1>Books</h1>
      <table class="table">
       <thead>
        <tr>
         <th></th>
         <th>Title</th>
         <th>opinion</th>
         <td>
         </tr>
       </thead>
       <tbody>
         <% @user.books.each do |book| %>
         <!--userモデルとbookモデルが紐づいてるからできる-->
         <tr>
           <td>image</td>　　　<!--修正-->
           <td><%= book.title %></td>
           <td><%= book.body %></td> <!--bookモデルのbodyが欲しい-->
         </tr>
         <% end %>
       </tbody>
     </table>
   </div>
 </div>


 <!--新規投稿-->
 　<%= render 'layouts/newbook', book: @book %>


</div>