
<% if model.errors.any? %>
<div class="alert">
  <h2>
    <%= pluralize(model.errors.count, "error")%>prohibited this obj from being saved:
  </h2>
  <ul>
    <% model.errors.full_messages.each do |message| %>
    <li><%= message %></li>s
    <% end %>
  </ul>
</div>
<% end %>

